.titulo{
    color: white;
    background-color: rgb(151, 80, 217) ;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}

.navbar{
    display: flex;
    justify-content: center;
 
}
.buttons{
    margin: 10px;
    background-color: rgb(151, 80, 217);
    color: white;
    border-color: white;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    padding: 10px;
    text-decoration: none;
}